<!DOCTYPE html>
<html>
<head>
  <title>SampleDatamapper</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
